    <div class="col s12 m4">    
      <div class="card horizontal">
        <div class="card-image">
          <img class='image_url' src=<%=contact.image_url%>>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h6 class='full_name'><%=contact.full_name%></h6>
            <p>Mobile: <span class='mobile'><%=contact.mobile%></span></p>
            <p>Email: <span class='email'><%=contact.email%></span></p>
          </div>
          <div class="card-action">
            <a href="#">Edit Contact</a>
          </div>
        </div>
      </div>
    </div>