<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active">Search</div>
    <div class="collapsible-body">
      <%= erb :_search_form%>
    </div>
  </li>
  <li>
    <div class="collapsible-header">New Contact</div>
    <div class="collapsible-body">
      <%= erb :_new_contact_form%>
    </div>
  </li>
  <li>
    <div class="collapsible-header">New Organization</div>
    <div class="collapsible-body">
      <%= erb :_new_organization_form%>
    </div>
  </li>
</ul>